
  <head style="height: 180; width: 100%; background: #5894C8">
    <title style="color: #ffffff;">Sua fatura chegou!</title>
  </head>
  <body>
    <h1>Boleto </h1>
    <div>
      <p><strong>Detalhes do pagamento</strong></p>
      <p>Banco: bb</p>
      <p>Vencimento: 00/00/12</p>
      <image src={{qrcode}}></image>
      <p>Valor total da fatura: 100000000</p>
    </div>
    <div>
      <p><strong>Instruções:</strong></p>
      <ol>
        <li>Escaneei o QR Code ou acesse a url:</li>
        <a href="http://localhost:3000/payment/id">Clique aqui para efetuar o pagamento</a>
        <li>Acesse a url</li>
        <li>Visualize o pagamento ser processado no sistema</li>
      </ol>
    </div>
  </body>
